{% extends "base.html" %}

{% block body_class %} class="post-page"{% endblock %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="page-title">Category: {{ category }}</h1>
</div>

<div class="blog-list">
  {% for article in articles %}
    <div class="blog-card">
      <a class="card-link" href="{{ SITEURL }}/{{ article.url }}">
        <div class="card-content">
          <div class="card-date">{{ article.date.strftime('%Y-%m-%d') }}</div>
          <div class="card-title">{{ article.title }}</div>
          <div class="card-excerpt">{{ article.summary|striptags|truncate(140) }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
